{"CFBundleShortVersionString":"1.0","CFBundleIdentifier":"$(PRODUCT_BUNDLE_IDENTIFIER)","UIMainStoryboardFile":"Main","CFBundleName":"$(PRODUCT_NAME)","LSRequiresIPhoneOS":true,"CFBundleInfoDictionaryVersion":"6.0","CFBundleDevelopmentRegion":"en","CFBundleExecutable":"$(EXECUTABLE_NAME)","UIRequiredDeviceCapabilities":["armv7"],"CFBundleVersion":"1","UISupportedInterfaceOrientations":["UIInterfaceOrientationPortrait","UIInterfaceOrientationLandscapeLeft","UIInterfaceOrientationLandscapeRight"]}